body {
    font-family: "Noto Sans", sans-serif;
    color: #444;
    background: #fafafa;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 150%;
}

h2:before {
    content: "❖";
    width: 1em;
    color: #ccc;
    margin-left: -1em;
    display:block;
    float:left;
}

h1,h2,h3,h4 {
    font-family: "Noto Serif", serif;
}

h2 + ul {
    margin-bottom: 3em;
}

h3 {
    margin-top: 2em;
}


a:link {
    color: #27b;
}

a:visited {
    color: #29a;
    outline:none;
}

a:hover {
    color: #16c;
}

a:focus {
    color: #16c;
    background: rgba(0,255,255,0.2);
    background: hsla(190,70%,50%,0.2);
}

a:active {
    outline:none;
}

.byline {
    color: #737373;
    font-size: 90%;
    font-family: "Noto Serif", serif;
}

header[role=banner] {
    margin-bottom: 100px;
}

@media speech {
    body {
        voice-family: juliet, female;
    }
}



