body {
    font-family: "Noto Serif", serif;
    color: #444;
    background: #fafafa;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 150%;
}

h2 + ul {
    margin-bottom: 3em;
}

h3 {
    margin-top: 2em;
}


a:link {
    color: #27b;
}

a:visited {
    color: #29a;
    outline:none;
}

a:hover {
    color: #16c;
}

a:focus {
    color: #16c;
    background: rgba(0,255,255,0.2);
    background: hsla(190,70%,50%,0.2);
}

a:active {
    outline:none;
}

.byline {
    color: #737373;
    font-size: 90%;
    font-family: "Noto Serif", serif;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.audible.focusable:active,
.audible.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

header[role=banner] {
    margin-bottom: 100px;
}



